@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, #333, transparent);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

header {
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #fff;
}

.conteiner {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 90vw;
    height: 85vh;
    margin: auto;
    
}

.linha::after {
    content: "";
    display: table;
    clear: both;
}

.left-25 {
    width: 25%;
    float: left;
}

.left-75 {
    width: 75%;
    float: left;
}

label {
    display: inline-block;
    padding: 12px;
    margin: 5px;
    
}

input[type=number] {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 5px;
}

.contar {
    margin: 10px;
    overflow: hidden;
    width: 100%;
}

.contar button {
    width: 100%;
    padding: 12px;
    border: 1px solid green;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
    text-align: center;
    font-style: italic;
    font-size: 0.7em;
    
}

@media screen and (min-width: 768px) {
    .conteiner {
        max-width: 800px;
        height: 90vh;
    }

   
}